.heading-1 {
   font-size: 10rem;
   opacity: .86;
}

.heading-2 {
   margin-top: 6rem;
   font-size: 2.75rem;
   font-weight: 600;
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
   text-transform: uppercase;
}

.heading-3 {
   font-size: 1.25rem;
   font-weight: 300;
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.section-date {
   font-size: 2rem;
   font-weight: 100;
   color:rgba(255, 255, 255, 0.5);
   margin-top: -1rem;
   margin-bottom: 2.5rem;
}

.section-text {
   font-size: 1.5rem;
   font-weight: 100;
   color:rgba(255, 255, 255, 0.75);
   text-align: center;
}

