$color-primary-light: #19B5FE;
$color-primary-dark:  rgb(21, 134, 187);
$color-silver: rgb(182, 182, 182);
$color-heading-3: #0d141be7;

$font-primary: 'Jost', sans-serif;



*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
   line-height: 1.6;
}

body {
   background-color: #f2f2f2;
   font-size: 2rem;
   font-family: $font-primary;
   font-weight: 300;
}


// Media queries

$bp-largest: 68.75em; // 1100px
$bp-large: 62.5em; // 900px
$bp-small: 43.75em; // 700px
$bp-font: 50em; // 800px
$bp-smallest: 25em; // 480px