//************ SIDEBAR ************//

.sidebar-image {
   list-style: none;
   margin: 2.25rem 1rem;
}

.image {
   fill: $color-silver;
   height: 2.25rem;
   width: 2.75rem;

   &:hover {
      cursor: pointer;
      fill: white;
   }
}

.active {
   fill : $color-primary-light;
}


//************ HEADER ************//

.header-content {
   margin: 20rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.button {
   margin-top: 2.5rem;
}
.btn {
   color: white;
   font-family: inherit;
   font-size: 1.55rem;
   padding: 1.5rem 5rem;
   text-transform: uppercase;
   background-color: transparent;
   border-width: thin;
   border: .5px solid grey;
   border-radius: .5rem;
   transition: all .2s;

   &:hover {
      cursor: pointer;
      background-color: rgba(90, 90, 90, 0.1);
   }


   &:focus {
      outline-style: none;   
   }
}