.container {
   display: grid;
   grid-template-rows: 80vh min-content minmax(37vw, max-content) 10rem;
   grid-template-columns: [main-start sidebar-start] 5.75rem [sidebar-end header-start] 5.25rem [section-start]repeat(4, minmax(20vw, 1fr)) [section-end] 5.25rem [header-end];

   @media only screen and (max-width: $bp-large) {
      grid-template-columns: [main-start sidebar-start] 5.75rem [sidebar-end header-start] 4rem [section-start]repeat(4, minmax(20vw, 1fr)) [section-end] 4rem [header-end];
   }
   @media only screen and (max-width: $bp-font) {
      grid-template-rows: 60vh min-content minmax(37vw, max-content) 10rem;
   }
}

.sidebar {
   grid-column: 1 / 2;
   grid-row: 1 / -1;
   height: 100%;
   background-color: #0d1217;
   position: relative;
}

.header {
   grid-column: header-start / header-end;
   background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.603)),url(../img/camera_2.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   color: white;
}

.main {
   grid-column: section-start / section-end;
   background-color: #f2f2f2;
   display: grid;
   grid-template-rows: 10rem repeat(2, minmax(min-content,max-content)) 15rem;
   grid-template-columns: repeat(4, 1fr);
}

.footer {
   grid-column: header-start / header-end;
   background-color: #e6e6e6;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.copyright {
   grid-column: header-start / header-end;
   grid-row: 4 / -1;

   margin: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   color: #bfbfbf;   
}