.heading-1 {
   font-size: 7rem;
   font-weight: 400;
   letter-spacing: .1rem;

   @media only screen and (max-width: $bp-font) {
      font-size: 4rem;
   }
}

.heading-2 {
   font-size: 2.5rem;

   @media only screen and (max-width: $bp-font) {
      font-size: 1.75rem;
   }
}

.heading-3 {
   font-size: 2.5rem;
   font-weight: 400;
   color: $color-heading-3;
}

.span-top {
   margin-top: .25rem;
}