.container {
   margin: 0rem 12.5rem 0rem;
   min-height: 100vh;
   background-color: #f2f2f2;
   display: grid;
   grid-template-columns: 1fr repeat(3, minmax(min-content,1fr)) 1fr;
   grid-template-rows: 60vh 35vh min-content min-content;
}