%heading {
   font-size: 4rem;
   font-family: $font-display;
   font-weight: 300;
   color: #fff;
}

.heading--1 {
   @extend %heading;
   font-size: 4rem;
   letter-spacing: .15rem;
}

.heading--2 {
   @extend %heading;
   font-size: 1.5rem;
}

